*{
  padding: 0;
  margin: 0;
  
}

header {
    background-color: #ee1515;
    padding: 1rem 0;
}

header > h1{
  text-align: center;
  color: rgba(255, 255, 255, 0.96);
}

.navItems>a {
  margin: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.96);
}

.categories{
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
}

.categoryName{
  text-decoration: none;
  color: black;
}

.categoryCard {
  border: 1px solid black;
  padding: 1rem;
  margin-right: 1rem;
  text-align: center;
  width: 300px;
  height: 300px;
}

.categoryImage {
  width: 200px;
  max-height: 200px;
  height: auto;
}