*{
  margin: 1rem;
}

.itemCard {
  border: 1px solid rgb(102, 95, 95);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-align: center;
  display: inline-block;
  width: 10rem;
}

.categories{
  display: flex;
  flex-wrap: wrap;
  margin: 10rem;
}

.categoryCard {
  border: 1px solid black;
  padding: 1rem;
  margin-right: 1rem;
  text-align: center;
  width: 400px;
  height: 400px;
}

.categoryImage {
  width: 300px;
  max-height: 300px;
  height: auto;
}